body {
  display: flex;
}

.square {
  background-color: rgb(200, 200, 200);
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}


#grid {
  display: flex;
  width: 480px;
  height: 480px;
  flex-wrap: wrap;
  border: solid rgb(12, 15, 111) 2px;
}