body {
  display: flex;
}

#buttondiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resolution {
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

#color {
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.square {
  background-color: rgb(200, 200, 200);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

#grid {
  display: flex;
  width: 480px;
  height: 480px;
  flex-wrap: wrap;
  border: solid rgb(12, 15, 111) 2px;
}
